/**{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
    font-family: consolas;
    color: white;
}*/
h1{
    justify-content: center;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    background: black;
    font-family: consolas;
    color: white;
}
.btn-neon{
    position:relative;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.2s;
    background:black;
}

.btn-neon:hover{
    background: #fff;
    box-shadow: 0 0 10px #fff, 0 0 40px #fff, 0 0 80px #fff;
    color:black;
}
.separacion {
    /*position: relative;*/
    margin: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.btn-group{
    position: relative;
    background: rgb(26, 23, 20);
}