@model jobs.Models.Sector

<option value="" class="btn-neon">Elegir Nave</option>
@if (ViewBag.Slist != null)
{
    foreach (var item in ViewBag.Slist)
    {
        <option value="@item" class="btn-neon">@item.Text</option>
    }
}
