
@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/FirstPage.cshtml";
}

<div>
    <h2>Crear Usuario</h2>
</div>
<div>
    <form action="@Url.Action("CreateUser","Mantenedor")" method="post">
        <div>
            <label>nombre</label>
            <input type="text" name="UserName" />
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="Email" />
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="Password" />
        </div>
        <hr />
        <button type="submit">Registrarse</button>
        <a href="@Url.Action("Index","Mantenedor")">Cancelar</a>
    </form>
</div>

