
@{
    ViewBag.Title = "GetNavigationItems";
    Layout = "~/Views/Shared/FirstPage.cshtml";
}

@model jobs.Models.Sector
<link href="~/Content/.btn-neon.css" rel="stylesheet" />

<div class="separacion">


    @if (ViewBag.Sectorlist != null)
    {


        @Html.DropDownListFor(m => m.IdSector, ViewBag.Sectorlist as SelectList, "Selecciona un Sector", new { @class = "btn-neon" })
    }

    @Html.DropDownListFor(m => m.nave, new SelectList(""), "Seleccionar Nave", new { @class = "btn-neon" })
    <a href="#" id="buscarBtn" class="btn-neon">Buscar</a>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#IdSector").change(function () {
                var name = $(this).val();

                $.ajax({
                    type: "GET",
                    url: "/mantenedor/getnaves?name=" + name,
                    contenttype: "html",
                    success: function (response) {

                        $("#nave").empty();
                        $("#nave").append(response);
                    }
                })
            })
        })
        $(document).ready(function () {
            $("#buscarBtn").click(function () {
                var dropdownValue = $("#IdSector").val();

                $.ajax({
                    contenttype: "html",
                    url: "/Mantenedor/Buscar",
                    type: "GET",
                    data: { dropdown: dropdownValue },
                    success: function (response) {
                        /*  $("#resultadosDiv").html(data);*/
                        $("#columnas").empty();
                        $("#columnas").append(response);

                    }
                });
            });
        });

    </script>
</div>
<div class="btn-group" id="columnas">
</div>

