
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/FirstPage.cshtml";
}

<section class="home">
    <div class="content">
        <h1>Ligths</h1>
        <p>
            Bienvenido a la seccion de Tenaris Ligth de Siderca.
            Por favor en la parte superior seleccione su planta y su nave correspondiente para inidica en que columna y en que posicion se encuentra el led dañado.
            Luego presione guardar.
        </p>
    </div>
    <div class="media-icons">
        <a href="#"><i class="fa-regular fa-floppy-disk" style="color: #f9fafa;"></i></a>
    </div>
</section>

