
@{
    ViewBag.Title = "NaveLeds";
    Layout = "~/Views/Shared/FirstPage.cshtml";

}
<link href="@Url.Content("~/Content/.btn-neon.css")" rel="stylesheet" />

<div class="btn-group">
    <div class="separacion">
        <a href="#" class="btn-neon">1</a>
    </div>
    <div class="separacion">
        <a href="#" class="btn-neon">2</a>
    </div>
    <div class="separacion">
        <a href="#" class="btn-neon">3</a>
    </div>
</div>

